.card-login-main{
    width: 550px;
    background: #6C6C6C ;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-align: center !important;
    align-items: center;
    margin: 40px 40px 140px 40px ;
    padding-top: 95px;
    padding-left: 40px;
    padding-right: 40px;
}
.card-login-title{
    font-weight: normal;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    padding-bottom: 80px;
}
.card-login-input{
    border-radius: 10px;
    width: 450px;
    height: 50px; 
    border: none; 
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    outline: none;
    width: 100% !important;
    padding-left: 20px;
}
.card-login-password{
    margin-top: 35px;
}

.card-login-btn-container{
    display: flex;
    padding: 130px 0px 180px 0px;   
}
.card-login-btn{
    background: #FFC700;
    width: 84% ;
    height: 70px;
    border-radius: 10px 0 0 10px;
    border: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #000000;
    outline: none;
    cursor: pointer;
    &:hover{
        color: #FFF;
    }
}
.card-login-btn-incon-arrow{
    background: #af8a03;
    width: 16%;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
} 
.card-login-hide-password{
    width: 30px;
    height: 30px;
    margin-left: -35px;
    border: none;
    cursor: pointer;
    outline: none;
}

@media(max-width:576px){
    .card-login-main{
        flex-direction: column;
        background: #6C6C6C ;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        text-align: center !important;
        align-items: center !important;
        margin: 20px 20px 70px 20px ;
        padding-left: 40px;
        padding-right: 40px;
    }
    .card-login-title{
        font-weight: normal;
        font-size: 32px;
        line-height: 65px;
        letter-spacing: -0.015em;
        color: #FFFFFF;
    }
    .card-login-input{
        border-radius: 10px;
        width: 250px;
        height: 40px; 
        border: none; 
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.015em;
        color: #9E9E9E;
        outline: none;
        
    }
    .card-login-password{
        margin-top: 25px;
    }
    
    .card-login-btn-container{
        display: flex;
        padding: 75px 0px 70px 0px;   
    }
    .card-login-btn{
        background: #FFC700;
        width: 84% ;
        height: 50px;
        border-radius: 10px 0 0 10px;
        border: none;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: -0.015em;
        color: #000000;
        outline: none;
        cursor: pointer;
        &:hover{
            color: #FFF;
        }
    }
    .card-login-btn-incon-arrow{
        background: #af8a03;
        width: 16%;
        border-radius: 0 10px 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
    } 
}