.movie-card-main{
    width: 270px;
    height: 320px;
    background: #6C6C6C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 20px ;
}
.movie-card-img{
    padding-top: 25px;
    width: 270px;
    height: 160px;
}
.move-card-info{
    padding-left: 15px;
}
.movie-card-title{
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    padding-top: 12px;
}
.movie-card-year{
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #FFC700;
}
.movie-card-subtitle{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}