.movie-review-card-main{
    background: #6C6C6C;
    height: 185px;
    margin-top: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}
.movie-review-input{
    width: 100%;
    height: 75px;
    margin-right: 15px !important;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    padding-left: 15px;
}
.movie-review-btn{
    width: 300px;
    height: 50px;
    background: #FFC700;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
    border: none;
    &:hover{
        color: #FFFFFF;
    }
    margin-top: 10px;
}

@media(max-width:576px){

}